#panel-container {
  display: flex;
  flex-direction: column;
}

#searchbox, #searchtext {
  width: 100%;
  padding: 0% !important;
}

#controls {
  padding: 5px;
}

#pinned-tabs {
  padding: 5px;
}

#tabs {
  overflow: auto;
}

.tab {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: line;
  align-items: center;
}

img.favicon {
  width: 16px;
  height: 16px;
  margin: 2px 5px;
}

.title {
  /* nothing yet */
}

img.favicon-pinned {
  width: 16px;
  height: 16px;
  margin: 2px 5px;
}