body {
  background-color: -moz-Field;
  color: -moz-FieldText;
  font: menu;
}

#panel-container {
  overflow: hidden;
}

#header {
  display: flex;
  align-items: center;
  padding: 5px;
}

#pinned-tabs {
  flex-grow: 1;
}

#controls {
  /* nothing */
}

button.pinned-tab, button.controls-btn {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.pinned-tab {
  margin-right: 2px;
}

button::-moz-focus-inner {
  border: 0;
}

img.favicon-pinned, img.controls-btn-icon {
  width: 16px;
  height: 16px;
  margin: 2px 5px;
}

#tabs-list-container {
  top: 34px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 100% - 32px;
  overflow: auto;
}

#tabs {
  margin: 0;
  padding: 0;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: line;
  align-items: center;
}

.tab.highlighted {
  background-color: Highlight;
}

.tab.highlighted > .title {
  color: HighlightText;
}

.tab.discarded > .favicon {
  opacity: 0.7;
}
.tab.discarded {
  color: GrayText;
}

img.favicon {
  width: 16px;
  height: 16px;
  margin: 2px 5px;
}

.title {
  /* nothing yet */
}

.fade {
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  position: fixed;
}