body {
  background-color: -moz-Field;
  color: -moz-FieldText;
  font: menu;
}

#panel-container {
  overflow: hidden;
}

#header {
  display: flex;
  align-items: center;
  padding: 5px;
}

#pinned-tabs {
  flex-grow: 1;
}

#controls {
  /* nothing */
}

/* #searchbox {
  display: none;
  width: 100%;
  padding: 0% !important;
} */

button.pinned-tab,
button.controls-btn {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.pinned-tab {
  margin-right: 2px;
}

button::-moz-focus-inner {
  border: 0;
}

img.favicon-pinned,
img.controls-btn-icon {
  width: 16px;
  height: 16px;
  margin: 2px 5px;
}

#tabs-list-container {
  top: 34px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin: 0;
  /* height: 100% - 34px; */
  display: flex;
  flex-direction: column;
}

#tabs {
  margin: 0;
  padding: 0;
  flex: 1;
  overflow: auto;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: line;
  align-items: center;

  position: relative;
  padding: 5px;
  margin-bottom: 5px;
  height: 20px;
}

.tab-control {
  display: none;
}
.tab:hover > .tab-control {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 15px;
  padding-right: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 30%,
    rgba(255, 255, 255, 1) 50%
  );
}
.tab-control i,
.tab-status i {
  cursor: pointer;
  font-size: 12px;
}
.tab-status {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 10%,
    rgba(255, 255, 255, 1) 20%
  );
}
.tab:hover > .tab-status {
  margin-right: 10px;
}
.fade {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 30px;
  padding-right: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 1) 75%
  );
}
.tab:hover > .fade {
  display: none;
}

.tab.highlighted {
  background-color: Highlight;
}

.tab.highlighted > .title {
  color: HighlightText;
}

.tab.discarded > .favicon {
  opacity: 0.7;
}
.tab.discarded {
  color: GrayText;
}

img.favicon {
  width: 16px;
  height: 16px;
  margin: 2px 5px;
}

.title {
  /* nothing yet */
}

#scroll-top {
  height: 16px;
  width: 100%;
  background-color: -moz-cellhighlight;
  display: none;
}

#scroll-bottom {
  height: 16px;
  width: 100%;
  background-color: -moz-cellhighlight;
  display: none;
}

#scroll-top img,
#scroll-bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 16px;
  height: 16px;
}
